@model Application.ViewModels.SaveProducerViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;

    ViewData["Title"] = editMode == false ? "Crear productora" : "Editar productora";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Producer" asp-action="@(editMode? "Edit": "Create")"  method="post">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre</label>
                            <input asp-for="Name" class="form-control bg-dark text-white" placeholder="Ingrese el nombre de la productora">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                        <a asp-controller="Producer" asp-action="Index" class="btn btn-outline-secondary">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
