@model Application.ViewModels.SaveGenreViewModel

@{
    ViewData["Title"] = "Eliminar Género";
}

<div class="container h-100">
    <div class="row justify-content-center" style="min-height: 100vh;">
        <div class="col-8 text-center mt-4">
            <h6 class="text-white mb-4 mt-4">
                ¿Está seguro(a) que desea eliminar el género "@Model.Name"?
            </h6>
            <hr />
            <form class="text-right" method="post" asp-controller="Genre" asp-action="DeletePost">
                <button class="btn btn-outline-danger btn-sm me-2" type="submit">Eliminar</button>
                <a class="btn btn-outline-secondary btn-sm" asp-controller="Genre" asp-action="Index">Cancelar</a>
                <input type="hidden" asp-for="Id">
            </form>
            <span class="text-danger my-3">
                @TempData["DeleteGenreWarning"]
            </span>
        </div>
    </div>
</div>
