<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITLA TV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ItlaTv.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow border-1 mb-3 border-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ItlaTv</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <form class="d-flex me-2" method="get">
                        <select class="form-select form-select-sm bg-dark text-secondary" aria-label=".form-select-sm example">
                            <option selected>Genre</option>
                            <option value="1">Horror</option>
                            <option value="2">History</option>
                            <option value="3">Action</option>
                            <option value="4">Adventure</option>
                            <option value="5">Thriller</option>
                            <option value="6">Documentary</option>
                            <option value="7">sci-Fi</option>
                            <option value="8">drama</option>
                        </select>
                        @*<button class="btn btn-outline-success btn-sm bg-dark text-secondary" type="submit">Search</button>*@
                    </form>
                    <form class="d-flex me-2" method="get">
                        <select class="form-select form-select-sm bg-dark text-secondary" aria-label=".form-select-sm example">
                            <option selected>Producer</option>
                            <option value="1">Netflix</option>
                            <option value="2">HBO</option>
                            <option value="3">FX</option>
                            <option value="4">AMC</option>
                        </select>
                        @*<button class="btn btn-outline-success btn-sm" type="submit">Search</button>*@
                    </form>
                    <form class="d-flex" method="get">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control bg-dark input-sm" placeholder="Show" aria-label="show" aria-describedby="button-addon1">
                            <button class="btn btn-outline-success btn-sm" type="button" id="button-addon1">Search</button>
                        </div>
                        @*<input class="form-control me-2 bg-dark input-sm" type="search" placeholder="Show" aria-label="Search">
                        <button class="btn btn-outline-success btn-sm" type="submit">Search</button>*@
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark border-secondary border-1">
        <div class="container">
            &copy; 2024 - Itla TV - @DateTime.Now
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

